
/* 
 @名称: combo.css
 @功能: 便捷组合样式
 */

/* ==============================
   快捷组合样式common.css
   ============================== */

/* 居中 */
.bc {
    margin-left: auto;
    margin-right: auto;
}

/* 浮动 */
.fl, 
.fr,
.inline {
    display: inline;
}
.fl {float: left;}
.fr {float: right;}
.ib {
    display:inline-block;
    *display:inline;
    *zoom:1;
}

/* 隐藏显示 */
.show,
.block { display: block; }
.hide { display: none !important; }

/* 文本对齐 */
.tc{ text-align: center; }
.tl{ text-align: left; }
.tr{ text-align: right; }

/* 颜色取值 */
.red       { color: red;    }
.orange { color: orange; }
.pink     { color: #e38;   }
.gray     { color: gray;   }
.gray3   { color: #333;   }
.gray6   { color: #666;   }

/* 文本大小、行高 */
.f12 { font-size: 12px; }
.f14 { font-size: 14px; }
.f16 { font-size: 16px; }
.f18 { font-size: 18px; }
.f22 { font-size: 22px; }
.f24 { font-size: 24px; }
.f30 { font-size: 30px; }
.lh18 { line-height: 18px; }
.lh20 { line-height: 20px; }
.lh22 { line-height: 22px; }
.lh24 { line-height: 24px; }
.lh28 { line-height: 28px; }
.lh30 { line-height: 30px; }

/* 外边界用组合css */
.m10   {        margin: 10px; }
.mt10 {    margin-top: 10px; }
.mb10 { margin-bottom: 10px; }
.ml10 {   margin-left: 10px; }
.mr10 {  margin-right: 10px; }

.mt20 {    margin-top: 20px; }
.mb20 { margin-bottom: 20px; }

.pd10 {        padding: 10px; }
.pt10 {    padding-top: 10px; }
.pb10 { padding-bottom: 10px; }
.pl10 {   padding-left: 10px; }
.pr10 {  padding-right: 10px; }
.plr10 {
    padding-left: 10px;
    padding-right: 10px;
}

/* 组合宽度 */
.w10 { width: 10px; }
.w20 { width: 20px; }
.w30 { width: 30px; }
.w40 { width: 40px; }
.w50 { width: 50px; }
.w60 { width: 60px; }
.w70 { width: 70px; }
.w80 { width: 80px; }
.w90 { width: 90px; }
.w100 { width: 100px; }
.w110 { width: 110px; }
.w120 { width: 120px; }
.w130 { width: 130px; }
.w140 { width: 140px; }
.w150 { width: 150px; }
.w160 { width: 160px; }
.w170 { width: 170px; }
.w180 { width: 180px; }
.w190 { width: 190px; }
.w200 { width: 200px; }
.w210 { width: 210px; }
.w220 { width: 220px; }
.w230 { width: 230px; }
.w240 { width: 240px; }
.w250 { width: 250px; }
.w260 { width: 260px; }
.w270 { width: 270px; }
.w280 { width: 280px; }
.w290 { width: 290px; }
.w300 { width: 300px; }
.w310 { width: 310px; }
.w320 { width: 320px; }
.w330 { width: 330px; }
.w340 { width: 340px; }
.w350 { width: 350px; }
.w360 { width: 360px; }
.w370 { width: 370px; }
.w380 { width: 380px; }
.w390 { width: 390px; }
.w400 { width: 400px; }

/* 字体，不要使用中文字体名 */
.yahei { font-family:"Microsoft YaHei","\5FAE\8F6F\96C5\9ED1"; }

/* 使webkit支持10px以下字体 */
.text-size {
    -webkit-text-size-adjust:100%;
        -ms-text-size-adjust:100%;
}

/* 透明 */
.opacity { 
    filter:alpha(opacity=50);
    opacity:.5;
}
.text-ell { 
    display:block;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}

/* ==============================
   TPL布局样式
   ============================== */

/* 间隔空白 */
.hr_a, 
.hr_b, 
.hr_c {
    font-size: 1px;
    line-height: 1px;
    display: block;
    clear: both;
    overflow: hidden;
}
.hr_a { height:10px; }
.hr_b { height:5px; }
.hr_c { height:20px; }

/* 无背景a元素定位链接 */
.disa a {
    display:block;
    width:100%;
    height:100%;
    background:url(about:blank);
    text-indent:-9999px;
}


.no_bg { background: none !important; }
.no_bd { border: none !important; }
.p_rel { position: relative; }
.p_abs { position: absolute; }


/* 横向列表 */
.hor li {
    display:inline;
    float:left;
    *zoom:1;
}
.hor li a{
    display:block;
    float:left;
}
/* 竖向列表 */
.ver li {
    display:block;
    *zoom:1;
}
.ver li a{
    display:block;
}

/* ==============================
   模块功能划分
   ============================== */

/* 半透明背景文字 */
.text-cover {
    position: relative;
    display: block;
    overflow: hidden;
    *zoom:1;
    text-align: center;
}
.text-cover img {
    position: relative;
    z-index: 1;
    vertical-align: middle;
}
.text-cover span,
.text-cover i {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    line-height: 25px;
    display: block;
    text-decoration: none;
}
.text-cover span {
    background: #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.text-cover i{
    text-align: center;
    color: #fff;
}
a.text-cover:hover {
    text-decoration: none;
    cursor: pointer;
}

/* ==============================
   UI设计
   ============================== */

/* 链接|展开  更多|详情 */
.link-more,
.link-details,
.view-more,
.view-details,
.hide-more {
    cursor: pointer;
}
.link-more {}
.link-details {}
.view-more {}
.view-details {}
.hide-more {}

ol.num { 
    padding:5px 10px 10px 30px;
}
ol.num li {
    list-style:decimal outside;
    text-indent:0px;
    line-height:20px;
    margin:5px 0；
}

/* 全站统一价格标签 */
dfn, dfn i,
samp, samp i { 
    font-family:arial;
    font-style: normal;
    color: #f60;
}
dfn i, samp i{ 
    font-size: 120%;
}

 
/* 字体颜色控制 */
.border {
    border: 1px solid #eee;
}

.linear {
    background: -webkit-gradient(linear,left top,left bottom,from(#fcfcfc),to(#f1f1f1));
    background: -moz-linear-gradient(top,#fcfcfc,#f1f1f1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc',endColorstr='#f1f1f1');
    background: -o-linear-gradient(top,#fcfcfc,#f1f1f1);
    background: linear-gradient(top,#fcfcfc,#f1f1f1);
}

.B, .fb, h1, h2, h3, h4, h5 { font-weight: bold; }
.fnb { font-weight: normal; }
h3, h4 { font-size: 14px; }
h5 { font-size: 12px;}
h6 { 
    font-size: 12px; 
    font-weight: normal; 
}

.v-t { vertical-align: top; }
.v-m { vertical-align: middle; }
.v-b { vertical-align: bottom; }

.element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
}