/* ------------------------------------------------------------
  noreset.css v1.0
  Author: Pandora
  Adapted from http://necolas.github.io/normalize.css/
------------------------------------------------------------ */

/**
 * Correct `block` display not defined in IE 8/9.
 */

/* ==============================
   HTML5 显示定义
   ============================== */

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article, 
aside, 
details, 
embed, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
menu, 
nav, 
section, 
summary {
    display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
command, 
datalist, 
keygen, 
mark, 
meter, 
progress, 
rp, 
rt, 
ruby, 
time, 
wbr {
    display: inline;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}
/**
 * Address styling not present in IE 8/9.
 */

[hidden] {
    display: none;
}

/* ==============================
   Base
   ============================== */

/*
 * 1. 防止用户自定义背景颜色对网页的影响 这是改为设置到body上
 * 2. 设置默认字体Tahoma
 * 3. 防止 iOS 设备方向变化且没有禁用缩放功能时，文字会发生大小变化
 */
html {
    color: #000; /* 1 */
    /* background: #fff; 1 */
    font-family: Tahoma,Arial,\5b8b\4f53;; /* 2 */
    -webkit-text-size-adjust: 100%; /* 3 */
    -ms-text-size-adjust: 100%; /* 3 */
}

/**
 * Remove default margin.
 */

body {
    margin: 0;
    background: #fff;
}

/* ==============================
   Links
   ============================== */

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.


a:active,
a:hover {
    outline: 0;
}
*/

/* ==============================
   Typography
   ============================== */

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
    /* white-space: pre-wrap; 
       去除此项，避免空格等产生页面布局上的空行
    */
    word-wrap: break-word;
}

/**
 * Set consistent quote types.
 */

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/* 统一上标和下标 */
sub, 
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }

/* ==============================
   Embedded content
   ============================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */

img {
    border: 0;
}



/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari 5.
 */

figure {
    margin: 0;
}

/* ==============================
   Forms input button ...
   ============================== */

/*
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/*
 * 1. 表单元素并不继承父级 font 的字体，这里设置默认字体，并不让其继承父级字体
 * 2. 表单元素并不继承父级 font 的大小
 * 3. 统一外边距 in Firefox 4+, Safari 5, and Chrome.
 */

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-family: Tahoma,Arial,\5b8b\4f53; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
	
    /* IE6/7 内间距宽度一致 */	
    *overflow: visible; 
}

/*
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/*
 * Re-set default cursor for disabled elements.
 */

button[disabled], 
html input[disabled] {
    cursor: default;
}

/*
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */

input[type="checkbox"], 
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/*
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}


/* ==============================
   Tables
   ============================== */

/* 去掉Tables单元格间距并让相邻边重合 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* IE bug fixed: th 不继承 text-align*/
th {
    text-align: inherit;
}


/* ==============================
   Others
   ============================== */
   
/* 去除默认边框 */
fieldset, 
img{
    border: 0;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
    display: block;
}

/* 去掉 firefox 下此元素的边框 */
abbr, 
acronym {
    border: 0;
    font-variant: normal;
}

/* 一致的 del 样式 */
del {
    text-decoration: line-through;
}

address, 
caption, 
cite, 
dfn, 
em, 
i, 
var {
    /* 这个reset用不到文本斜体 */
    font-style: normal;
    font-weight: 500;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption, 
th {
    text-align: left;
}
/* 这条分割线以上为normalize.css的样式
==================================================================================================== */

/* 清除浮动 */
.clearfix:after, 
.wrap:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix, 
.wrap {
    *zoom:1
}/* for IE6 IE7 */

/* 空标签清除法 */
.clear {
    clear: both;
    display: block;
    height:0;
    overflow: hidden;
    visibility: hidden;
}
.wrap, 
.bc {
    margin-left: auto;
    margin-right: auto;
}


/* 这条分割线以上为noreset.css，书写规范请参见README.md
============================================================ */

/* 
 === 样式测试 ===
 javascript:(function(){var a=document,b=a.body,c=a.createElement("link");c.setAttribute("rel","stylesheet");c.setAttribute("href","http://10.3.1.41/cnBootstrap/WF/assets/css/reset.css");a.querySelector("head").appendChild(c);b.style.backgroundColor="white";b.className+=" typo"})()
============================================================ */
