
/*!
 * arrow.css v1.0
 * Author Pandora
 */

/* css 实现arrow */
.ui-arrow,
.ui-arrow-top,
.ui-arrow-right,
.ui-arrow-bottom,
.ui-arrow-left {
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-style: dashed;
    border-color: transparent;
    border-width: 5px;
}

.ui-arrow-top {
    border-bottom-style: solid;
    border-top-width: 0;
}
.ui-arrow-right {
    border-left-style: solid;
    border-right-width: 0;
}
.ui-arrow-bottom {
    border-top-style: solid;
    border-bottom-width: 0;
}
.ui-arrow-left {
    border-right-style: solid;
    border-left-width: 0;
}

.dark-ui-arrow-top    { border-bottom-color: #333; }
.dark-ui-arrow-right  { border-left-color  : #333; }
.dark-ui-arrow-bottom { border-top-color   : #333; }
.dark-ui-arrow-left   { border-right-color : #333; }

.gray-ui-arrow-top    { border-bottom-color: gray; }
.gray-ui-arrow-right  { border-left-color  : gray; }
.gray-ui-arrow-bottom { border-top-color   : gray; }
.gray-ui-arrow-left   { border-right-color : gray; }

.blue-ui-arrow-top    { border-bottom-color: #0183b0; }
.blue-ui-arrow-right  { border-left-color  : #0183b0; }
.blue-ui-arrow-bottom { border-top-color   : #0183b0; }
.blue-ui-arrow-left   { border-right-color : #0183b0; }

.pink-ui-arrow-top    { border-bottom-color: #e38; }
.pink-ui-arrow-right  { border-left-color  : #e38; }
.pink-ui-arrow-bottom { border-top-color   : #e38; }
.pink-ui-arrow-left   { border-right-color : #e38; }

.orange-ui-arrow-top    { border-bottom-color: orange; }
.orange-ui-arrow-right  { border-left-color  : orange; }
.orange-ui-arrow-bottom { border-top-color   : orange; }
.orange-ui-arrow-left   { border-right-color : orange; }






