
/** @name      : button 
  * @explain   : 新类型按钮
  * @type      : 基类 .pbtn
  * @expand    : 基类 .pbtn-small -big -mini -white -pink -orange -blue -gray
  * @dependent : pandora
  * @author    : CloudYan
  * @version   : 1.0
  * @html      : 

***/

button,
input {
    line-height: normal;
	
    /* IE6/7 内间距宽度一致 */	
    *overflow: visible; 
}

.pbtn * {
    margin: 0;
    padding: 0;
}

.pbtn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    *overflow: visible;
    margin-bottom: 0;
    padding: 2px 10px;
    border: 1px solid transparent;
    border-radius: 2px;
	text-decoration: none;
	vertical-align: middle;
    
    color: #333;
	font-size: 12px;
    line-height: 20px;
	font-weight: normal;
	text-align: center;
	background-image: none;
    cursor: pointer;
    white-space: nowrap;
    
    background-color: #fff;
    border: 1px solid #ddd;
    
    /* 禁止选中文字 */
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}
.pbtn .pbtn-text {
	background: 0;
	padding: 0;
	height: auto;
	line-height: auto;
}
.pbtn:focus {
    outline: none;
}
.pbtn:active {
    position: relative;
    top: 1px;
}

.pbtn:hover,
.pbtn:focus {
	text-decoration: none;
	background-image: none;
    text-decoration: none;
}
.pbtn:hover {
    color: #333;
    border: 1px solid #ccc;
    background-color: #fafafa;
}

input.pbtn-text,
button.pbtn-text {
    *vertical-align: top;
}

.pbtn-white {
    color: #333;
    border: 1px solid #ddd;
    background-color: #fff;
}

.pbtn-white:hover {
    color: #333;
    border: 1px solid #ccc;
    background-color: #fafafa;
}

.pbtn-light {
    color: #333;
    border: 1px solid #e6e6e6;
    background-color: #f8f8f8;
}

.pbtn-light:hover {
    color: #333;
    background-color: #e6e6e6;
}
.pbtn-pink {
    color: #fff;
    border: 1px solid #ee3388;
    background-color: #ff4499;
}

.pbtn-pink:hover {
    color: #fff;
    border-color: #ee3388;
    background-color: #ee3388;
}

.pbtn-buff {
    color: #333;
    border: 1px solid #ffdfa9;
    background-color: #fdefd8;
}

.pbtn-buff:hover {
    color: #333;
    border-color: #ffdfa9;
    background-color: #ffdfa9;
}

.pbtn-orange {
    color: #fff;
    border: 1px solid #f60;
    background-color: #f80;
}

.pbtn-orange:hover {
    color: #fff;
    border-color: #f60;
    background-color: #f60;
}

.pbtn-blue {
    color: #fff;
    border: 1px solid #08c;
    background-color: #09d;
}
.pbtn-blue:hover {
    color: #fff;
    border-color: #0088cc;
    background-color: #0088cc;
}

.pbtn-dark {
    color: #fff;
    border: 1px solid #666;
    background-color: #999;
}
.pbtn-dark:hover {
    color: #fff;
    border: 1px solid #666;
    background-color: #999;
    outline: none;
}

.disabled:active,
.pbtn-dark:active,
.pbtn-disabled:active {
    position: static;
    top: 0;
}

.disabled,
.pbtn.disabled,
.disabled .pbtn,
.pbtn[disabled],
fieldset[disabled] .pbtn {
    cursor: default;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    pointer-events: none;
}

.pbtn-disabled {
    color: #fff;
    border: 1px solid #666;
    background-color: #999;
}

.pbtn-disabled:hover {
    color: #fff;
    border-color: #666;
    background-color: #999;
    cursor: default;
    box-shadow: none;
    /* 按钮闪动 */
    /* pointer-events: none; */
}

.pbtn {
    padding: 4px 12px;
    font-size: 14px;
    font-weight: bold;
}

.pbtn-mini {
    padding: 0 6px;
    font-size: 12px;
    font-weight: normal;
}
.pbtn-small {
    padding: 2px 10px;
    font-size: 12px;
    font-weight: normal;
}
.pbtn-middle {
    padding: 4px 12px;
    font-size: 14px;
    font-weight: bold;
}
.pbtn-big {
    padding: 7px 15px;
    font-size: 14px;
    font-weight: bold;
}
.pbtn-large {
    padding: 11px 19px;
    font-size: 18px;
    font-weight: bold;
}

.pbtn {
    padding-left: 20px;
    padding-right: 20px;
}

.pbtn-small,
.pbtn-mini {
    padding-left: 15px;
    padding-right: 15px;
}
.pbtn-w,
.pbtn-wbox .pbtn {
    padding-left: 20px;
    padding-right: 20px;
}

.pbtn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
.pbtn-block + .pbtn-block {
    margin-top: 5px;
}
input[type="submit"].pbtn-block,
input[type="reset"].pbtn-block,
input[type="button"].pbtn-block {
    width: 100%;
}

.pbtn-large,
.pbtn-big,
.pbtn-middle,
.pbtn-small,
.pbtn-mini {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

/* IE6/7 兼容性样式 */
.pbtn { 
    *margin-right: 4px;
    /*border: none !important;*/
}
.pbtn,
button,
input[type=submit],
input[type=reset],
input[type=button]{
  *filter:chroma(color=#000000) !imporant;
}

/* IE67的line-height解决方案 */
