
/* 
 @名称: dialog.css
 @功能: 模态窗口-弹出对话框
 */

/* 遮罩 */
.overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 4000;
    background-color: #000;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

/* 弹出框 */
.dialog {
    position: fixed;
    _position: absolute;
    z-index: 5000;
    border: 0;
    width: 400px;
    font:12px/22px Tahoma,Arial,\5b8b\4f53,sans-serif;
    color: #4d4d4d;
}

.dialog .btn {
    
}

.dialog .dialog-close {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 36px;
    height: 32px;
    overflow: hidden;
    line-height: 30px;
    text-align: center;
    font-family: Tahoma,Arial,sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    color: #000;
    opacity: 0.4;
    filter: alpha(opacity=40);
}
.dialog .dialog-close:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
    text-decoration: none;
    color: #f00;
}

.dialog-inner {
    position: relative;
    z-index: 5;
    margin: 0;
    padding: 0;
    background: #fff;
}

.dialog-header {
    margin: 0;
    padding: 0 10px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    font-weight: bold;
    /*
    background: -webkit-gradient(linear,left top,left bottom,from(#fcfcfc),to(#f1f1f1));
    background: -moz-linear-gradient(top,#fcfcfc,#f1f1f1);
    background:   -o-linear-gradient(top,#fcfcfc,#f1f1f1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc',endColorstr='#f1f1f1');
    background: linear-gradient(#fcfcfc,#f1f1f1);
    */
    background: #eee;
}

.dialog-header small {
    font-weight: normal;
    font-size: 12px;
    color: #333;
}

.dialog-header:empty {
    display: none;
}

.dialog-body {
    padding: 20px 20px 20px;
}

.dialog-body h3,
.dialog-body h4 {
    margin:0 0 10px;
}


.dialog-body p {
    margin:0 0 10px;
}
.dialog-body .dialog-content {
    width: 100%;
    height: 100%;
}


.dialog-footer {
    padding: 0 20px 20px;
    text-align: right;
}

.dialog-footer .btn,
.dialog-footer .pbtn {
    margin-left: 10px;
}

.dialog .tc {
    text-align: center;
}
.dialog .tc .btn,
.dialog .tc .pbtn {
    margin: 0 5px;
}

/* 尺寸 */
.dialog-mini .dialog-header {
    display: none;
}
.dialog-mini .dialog-body {
    padding-top: 30px;
}


.dialog-msg .dialog-close,
.dialog-msg .dialog-header,
.dialog-msg .dialog-footer {
    display: none;
}
.dialog-msg {
    width: auto;
    _width: 150px;
    *zoom: 1;
}
.dialog-msg .dialog-body {
    padding: 15px 30px;
}

.dialog-mini {
    width: 300px;
}
.dialog-small {
    width: 400px;
}
.dialog-middle {
    width: 600px;
}
.dialog-big {
    width: 800px;
}
.dialog-large {
    width: 990px;
}

/* 皮肤 */
.dialog-default{
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#66000000, endColorstr=#66000000);
}

.dialog-blue{
    padding: 5px;
    background-color: #538ED7;
}
.dialog-blue .dialog-header{
    background-color: #538ED7;
}


.dialog-pink .dialog-inner {
    border-top: 2px solid #d37;
}
.dialog-orange .dialog-inner{
    border-top: 2px solid #f60;
}