/*!
 * WebFrame v1.0
 * Adapted from https://github.com/webcoding/cnBootstrap
 */

/* Core variables and mixins */
/* Modify this for custom colors, font-sizes, etc */
@import "variables.css"; 
@import "mixins.css";

/* CSS Reset 
@import "../../assets/css/noreset-dev.css";
@import "../../assets/css/combo-dev.css";
@import "../../assets/css/module.css";
 */
@import "noreset.css";
@import "reset.css";
@import "combo.css";
@import "module.css";

/* Grid system and page structure */
@import "scaffolding.css";
@import "grid.css";
@import "layouts.css";

/* Base CSS */
@import "type.css";
@import "code.css";
@import "forms.css";
@import "tables.css";

/* Components: common */
@import "sprites.css";
@import "dropdowns.css";
@import "wells.css";
@import "component-animations.css";
@import "close.css";

/* Components: Buttons & Alerts */
@import "buttons.css";
@import "button-groups.css";
@import "alerts.css"; /* Note: alerts share common CSS with buttons and thus have styles in buttons.css */

/* Components: Nav */
@import "navs.css";
@import "navbar.css";
@import "breadcrumbs.css";
@import "pagination.css";
@import "pager.css";

/* Components: Popovers */
@import "modals.css";
@import "tooltip.css";
@import "popovers.css";

/* Components: Misc */
@import "thumbnails.css";
@import "media.css";
@import "labels-badges.css";
@import "progress-bars.css";
@import "accordion.css";
@import "carousel.css";
@import "hero-unit.css";

/* Utility classes */
@import "utilities.css"; /* Has to be last to override when necessary */

/* Plugin classes */
@import "plugin.css";


/* 书写规范请参见README.md
============================================================ */

/* 
 === 样式测试 ===
 javascript:(function(){var a=document,b=a.body,c=a.createElement("link");c.setAttribute("rel","stylesheet");c.setAttribute("href","http://10.3.1.41/WF/assets/css/reset.css");a.querySelector("head").appendChild(c);b.style.backgroundColor="white";})()
============================================================ */
