
/*!
 * tips.css v1.0 信息提示（提示层/提示文本/提示框）
 * Adapted from aliceui
 */

/* 提示框 */

.ui-tipbox{
	position:relative;
	zoom:1;
	font-size:12px;
	line-height:22px
}
.ui-tipbox .ui-tipbox-icon{
	background:#fff;
	width:20px;
	height:20px;
	position:absolute;
	top:22px;
	left:48px
}
.ui-tipbox-icon .iconfont{
	font-size:36px;
	position:absolute;
	top:-7px;
	left:-7px;
	width:32px;
	height:32px;
	line-height:36px;
	text-shadow:1px 1px #fff
}
.ui-tipbox-message{
	border:1px solid#CBD7E2;
	background:#E4F5FE
}
.ui-tipbox-message .ui-tipbox-icon .iconfont{
	color:#0483CF
}
.ui-tipbox-success{
	border:1px solid#E1E1CA;
	background:#EDFED0
}
.ui-tipbox-success .ui-tipbox-icon .iconfont{
	color:#20DC19
}
.ui-tipbox-error{
	background:#FDEEE9;
	border:1px solid#F6C7B8
}
.ui-tipbox-error .ui-tipbox-icon .iconfont{
	color:#FF4800
}
.ui-tipbox-warning{
	background:#FEFEA4;
	border:1px solid#E6C46A
}
.ui-tipbox-warning .ui-tipbox-icon .iconfont{
	color:#FFA700
}
.ui-tipbox-question{
	border:1px solid#CBD7E2;
	background:#E4F5FE
}
.ui-tipbox-question .ui-tipbox-icon .iconfont{
	color:#00B5F3
}
.ui-tipbox-stop{
	background:#FDEEE9;
	border:1px solid#F4C7B5
}
.ui-tipbox-stop .ui-tipbox-icon .iconfont{
	color:#F50
}
.ui-tipbox-wait{
	border:1px solid#E6CBB1;
	background:#FFF9D9
}
.ui-tipbox-wait .ui-tipbox-icon .iconfont{
	color:#B26100
}
.ui-tipbox-content{
	margin:14px 0 14px 87px
}
.ui-tipbox-content .ui-tipbox-title{
	margin:0;
	padding:0
}
.ui-tipbox-content h3.ui-tipbox-title,
.ui-tipbox-content-simple h3.ui-tipbox-title{
	color:#333;
	font-size:14px;
	font-weight:700
}
.ui-tipbox-content-simple{
	margin:22px 0 22px 88px
}
.ui-tipbox-explain{
	margin:0;
	padding:0;
	color:gray
}
.ui-tipbox-white{
	background:#fff;
	border:1px solid transparent;
	_border-color:tomato;
	_filter:chroma(color=tomato)
}








/* 提示文本 */

.ui-tiptext {
	margin:0;
	color:#4D4D4D;
	position:relative;
	font-size:12px;
	*zoom:1
}
.ui-tiptext-container {
	padding:8px 12px;
	position:relative;
	*zoom:1
}
.ui-tiptext .iconfont {
	font-size:1.33em;
	line-height:1em;
	text-shadow:0 1px 0#fff;
	position:relative;
	top:2px
}
.ui-tiptext-icon {
	display:inline-block;
	*display:inline;
	*zoom:1
}
.ui-tiptext-message .ui-tiptext-icon {
	color:#0483CF
}
.ui-tiptext-container-message {
	background:#e5f5ff;
	border:1px solid #c9d5e2
}
.ui-tiptext-success .ui-tiptext-icon {
	color:#20DC19
}
.ui-tiptext-container-success {
	background:#E7FFCE;
	border:1px solid #B9E2A0
}
.ui-tiptext-error .ui-tiptext-icon {
	color:#FF4800
}
.ui-tiptext-container-error {
	background:#fceee8;
	border:1px solid #f6c8b5
}
.ui-tiptext-warning .ui-tiptext-icon {
	color:#FFA700
}
.ui-tiptext-container-warning {
	background:#ffff8d;
	border:1px solid #e7c560
}
.ui-tiptext-question .ui-tiptext-icon {
	color:#00B5F3
}
.ui-tiptext-container-question {
	background:#e5f5ff;
	border:1px solid #c9d5e2
}
.ui-tiptext-stop .ui-tiptext-icon {
	color:#F50
}
.ui-tiptext-container-stop{
	background:#fceee8;
	border:1px solid #f6c8b5
}
.ui-tiptext-wait .ui-tiptext-icon {
	color:#B26100
}
.ui-tiptext-container-wait {
	background:#FFF9D9;
	border:1px solid #E6CBB1
}
.ui-tiptext-arrowup,
.ui-tiptext-arrowup em,
.ui-tiptext-arrowup span,
.ui-tiptext-arrowleft,
.ui-tiptext-arrowleft em,
.ui-tiptext-arrowleft span,
.ui-tiptext-arrowdown,
.ui-tiptext-arrowdown em,
.ui-tiptext-arrowdown span {
	position:absolute;
	font-size:14px;
	font-family:SimSun;
	font-style:normal;
	line-height:1
}
.ui-tiptext-arrowup,
.ui-tiptext-arrowleft,
.ui-tiptext-arrowdown {
	height:10px;
	width:16px
}
.ui-tiptext-arrowup {
	left:32px;
	top:-7px
}
.ui-tiptext-arrowup em {
	top:-1px
}
.ui-tiptext-arrowleft {
	left:-6px;
	top:10px
}
.ui-tiptext-arrowleft em {
	left:-1px
}
.ui-tiptext-arrowdown {
	left:32px;
	bottom:-3px
}
.ui-tiptext-arrowdown em {
	top:1px
}
.ui-tiptext-container-message .ui-tiptext-arrow em {
	color:#c9d5e2
}
.ui-tiptext-container-message .ui-tiptext-arrow span {
	color:#e5f5ff
}
.ui-tiptext-container-success .ui-tiptext-arrow em {
	color:#B9E2A0
}
.ui-tiptext-container-success .ui-tiptext-arrow span {
	color:#E7FFCE
}
.ui-tiptext-container-error .ui-tiptext-arrow em {
	color:#f6c8b5
}
.ui-tiptext-container-error .ui-tiptext-arrow span {
	color:#fceee8
}
.ui-tiptext-container-warning .ui-tiptext-arrow em {
	color:#e7c560
}
.ui-tiptext-container-warning .ui-tiptext-arrow span {
	color:#ffff8d
}
.ui-tiptext-container-question .ui-tiptext-arrow em {
	color:#c9d5e2
}
.ui-tiptext-container-question .ui-tiptext-arrow span {
	color:#e5f5ff
}
.ui-tiptext-container-stop .ui-tiptext-arrow em {
	color:#f6c8b5
}
.ui-tiptext-container-stop .ui-tiptext-arrow span {
	color:#fceee8
}
.ui-tiptext-container-wait .ui-tiptext-arrow em {
	color:#E6CBB1
}
.ui-tiptext-container-wait .ui-tiptext-arrow span {
	color:#FFF9D9
}
.ui-tiptext-close{
	position:absolute;
	right:10px;
	top:9px;
	color:#60A2C5;
	cursor:pointer
}
